In [65]:
import pandas as pd
import numpy as np

df = pd.read_csv("labeledTrainData.tsv" , sep = "\t")
df.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [66]:
df.insert(1,"id_y",df["id"])
df.head()

,id,id_y,sentiment,review
0,5814_8,5814_8,1,With all this stuff going down at the moment w...
1,2381_9,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi..."
2,7759_3,7759_3,0,The film starts with a manager (Nicholas Bell)...
3,3630_4,3630_4,0,It must be assumed that those who praised this...
4,9495_8,9495_8,1,Superbly trashy and wondrously unpretentious 8...

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 4 columns):
id           25000 non-null object
id_y         25000 non-null object
sentiment    25000 non-null int64
review       25000 non-null object
dtypes: int64(1), object(3)
memory usage: 781.3+ KB

In [68]:
df.head()
df.to_csv("data.tsv", sep="\t",header = None,index=False,encoding= 'utf-8')

In [69]:
#test.tsv

In [70]:
df = pd.read_csv("testData.tsv" , sep = "\t")
df.head()

         id                                             review
0  12311_10  Naturally in a film who's main themes are of m...
1    8348_2  This movie is a disaster within a disaster fil...
2    5828_4  All in all, this is a movie for kids. We saw i...
3    7186_2  Afraid of the Dark left me with the impression...
4   12128_7  A very accurate depiction of small time mob li...

In [71]:
df.insert(1,"line_num",df.index +1)
df.insert(1,"line_num_y",df.index +1)
df.head()

,id,line_num_y,line_num,review
0,12311_10,1,1,Naturally in a film who's main themes are of m...
1,8348_2,2,2,This movie is a disaster within a disaster fil...
2,5828_4,3,3,"All in all, this is a movie for kids. We saw i..."
3,7186_2,4,4,Afraid of the Dark left me with the impression...
4,12128_7,5,5,A very accurate depiction of small time mob li...

In [72]:
df.to_csv("test.tsv", sep="\t",header = None,index=False,encoding= 'utf-8')

In [73]:
df = pd.read_csv("train.tsv", sep="\t")
df.info()
#df.columns.values.tolist()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999 entries, 0 to 24998
Data columns (total 4 columns):
5814_8                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            24999 non-null object
5814_8.1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          24999 non-null object
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 24999 non-null int64
With all this stuff going down at the moment with MJ i've started listening to his music, watching the odd documentary here and there, watched The Wiz and watched Moonwalker again. Maybe i just want to get a certain insight into this guy who i thought was really cool in the eighties just to maybe make up my mind whether he is guilty or innocent. Moonwalker is part biography, part feature film which i remember going to see at the cinema when it was originally released. Some of it has subtle messages about MJ's feeling towards the press and also the obvious message of drugs are bad m'kay.<br /><br />Visually impressive but of course this is all about Michael Jackson so unless you remotely like MJ in anyway then you are going to hate this and find it boring. Some may call MJ an egotist for consenting to the making of this movie BUT MJ and most of his fans would say that he made it for the fans which if true is really nice of him.<br /><br />The actual feature film bit when it finally starts is only on for 20 minutes or so excluding the Smooth Criminal sequence and Joe Pesci is convincing as a psychopathic all powerful drug lord. Why he wants MJ dead so bad is beyond me. Because MJ overheard his plans? Nah, Joe Pesci's character ranted that he wanted people to know it is he who is supplying drugs etc so i dunno, maybe he just hates MJ's music.<br /><br />Lots of cool things in this like MJ turning into a car and a robot and the whole Speed Demon sequence. Also, the director must have had the patience of a saint when it came to filming the kiddy Bad sequence as usually directors hate working with one kid let alone a whole bunch of them performing a complex dance scene.<br /><br />Bottom line, this movie is for people who like MJ on one level or another (which i think is most people). If not, then stay away. It does try and give off a wholesome message and ironically MJ's bestest buddy in this movie is a girl! Michael Jackson is truly one of the most talented people ever to grace this planet but is he guilty? Well, with all the attention i've gave this subject....hmmm well i don't know because people can be different behind closed doors, i know this for a fact. He is either an extremely nice but stupid guy or one of the most sickest liars. I hope he is not the latter.    24999 non-null object
dtypes: int64(1), object(3)
memory usage: 781.3+ KB